#sub-nav {
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-top: -3.5px;
}

#sec-sub {
    height: 100px;
    line-height: 100px;
    color: #aa004b;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link {
    color: #aa004b;
}

b {
    font-size: 15px;
}